[submodule "subprojects/libmemory"]
	path = subprojects/libmemory
	url = https://github.com/embeddedartistry/libmemory.git
[submodule "subprojects/tlsf"]
	path = subprojects/tlsf
	url = https://github.com/mattconte/tlsf.git
